html, body {
  height: 100%;
}

/* OVERRIDES */

.container-fluid {
  height: 100%;
  padding: 0;
  background-color: red;
}

.row {
  margin: 0;
}


.lcd-screen {
  border: 2px solid black;
  border-radius: 5px;
  background-color: gray;
  height: 40%;
}


/* Home menu styles */

.home-container {
  height: 100%;
  padding: 2rem;
}

.home-container .menu-container {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
}

.home-container .row {
  text-align: center;
  height: 20%;
  border-top: 1px solid gray;
  border-bottom: 2px solid black;
}

.home-container .menu-item {
  font-size: 20pt;
  position: relative;
  top: 40%;

}

/* Login styles */


#login-buttons {
  width: 100%;
}

#login-buttons{
  font-size: 20pt;
  width: 100%;
}

#login-buttons a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
}



/* Challenge page styles */

.challenge-container {
  background-color: red;
  height: 100%;
  padding: 7rem 2rem 0 2rem;
}

.challenge-container * {
  text-align: center;
}

.challenge-header {
  text-align: center;
  padding-top: 2rem;
}

.challenge-body {
  margin-top: 2.5rem;
  font-size: 14pt;
}

.challenge-body .challenger-name {
  font-weight: bold;
}

.challenge-header .challenge-alert {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24pt;
  color: green;
}

.challenge-header .challenge-alert-subtext {
  font-size: 18pt;
}

.accept-challenge-container {
  margin-top: 10%;
  width: 100%;
  height: 40%;
  padding-top: 15%;
}

.accept-challenge-container .loader {
  margin-top: 10%;
}

.challenge-button {
  width: 65%;
  height: 6.5rem;
  line-height: 6.5rem;
  margin: 5% auto;
  border-radius: 5px;
  border: 2px solid black;
}

.challenge-button.accept {
  background-color: green;
}

.challenge-button.reject {
  background-color: #858585;
}

.challenge-accepted-text {
  font-size: 26pt;
}

.challenge-accepted-text > b {
  color: green;
}

.challenge-acceptance-result {
  margin-top: 10%;
  font-size: 16pt;

}

/* Battle Styles */

.battle-container {
  padding-top: 5%;
  height: 100%;
}

.battle-container .battle-top {
  height: 55%;
  padding: 5%;
}

.battle-container .lcd-screen {
  height: 100%;
}

.battlestage-half {
  height: 50%;
}

.battlestage-half {
  width: 100%;
  height: 50%%;
}

.battlestage-half img{
  margin-top: 5%;
  display: inline-block;
  height: 80%;
  max-width: 40%;
}

.battlestage-half .image-right {
  float: right;
  margin-right: 5%;
}

.battlestage-half .image-left {
  float: left;
  margin-left: 5%;
}

.battlestage-pokeinfo {
  padding-top: 7.5%;
  height: 100%;
  width: 45%;
}

.battlestage-top .battlestage-pokeinfo {
  float: left;
  padding-left: 5%;
}

.battlestage-bottom .battlestage-pokeinfo {
  float: right;
  padding-right: 5%;

}

.battlestage-pokeinfo .battlestage-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 0;
}

.battlestage-pokeinfo .battlestage-hp-bar {
  width: 100%;
  height: 8.5%;
  border: 2px solid black;
}

.battlestage-hp-fill {
  height: 100%;
  background-color: green;
}

.battle-bottom {
  height: 40%;
  padding: 10%;
  padding-top: 0;
}

.battlemenu {
  margin-top: 10%;
  border: 2px solid black;
  height: 100%;
}

.battlemenu-item {
  height: 25%;
  border-bottom: 2px solid black;
  text-align: center;
  padding-top: 1rem;
  background-color: #D60000;
  color: white;
}

.battlemenu-move .move-name {
  float: left;
  margin-left: 5%;
}

.battlemenu-move .move-pp {
  float: right;
  margin-right: 5%;
  color: #DBDBDB;
}

.battlemenu-move .move-pp b {
  font-weight: 850;
  color: white;
}


/* Pokedex styles */
.pokedex-container {
  background-color: red;
}