body {
  background-image: url(http://fc06.deviantart.net/fs71/f/2010/254/3/7/pokedex_wallpaper_v1_by_bugbyte-d2yii0o.png);
  background-repeat: no-repeat;
  height: 480px;
  width: 320px;
}

/* OVERRIDES */

.container-fluid {
  height: 100%;
  padding: 0;
}

.row {
  margin: 0;
}


/* Home menu styles */
/*
.home-container {

  background-color: red;
  height: 100%;
  padding: 2rem;
}

.home-container .menu-container {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
}

.home-container .row {
  text-align: center;
  height: 20%;
  border-top: 1px solid gray;
  border-bottom: 2px solid black;
}

.home-container .menu-item {
  font-size: 20pt;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}*/

/* Login styles */


#login-buttons {
  width: 100%;
}

#login-buttons{
  font-size: 20pt;
  width: 100%;
}

#login-buttons a {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
}



/* Challenge page styles */

.challenge-container {
  background-color: red;
  height: 100%;
  padding: 7rem 2rem 0 2rem;
}

.challenge-container * {
  text-align: center;
}

.challenge-lcd-screen {
  border: 2px solid black;
  border-radius: 5px;
  background-color: gray;
  height: 40%;
}

.challenge-header {
  text-align: center;
  padding-top: 2rem;
}

.challenge-body {
  margin-top: 2.5rem;
  font-size: 14pt;
}

.challenge-body .challenger-name {
  font-weight: bold;
}

.challenge-header .challenge-alert {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24pt;
  color: green;
}

.challenge-header .challenge-alert-subtext {
  font-size: 18pt;
}

.accept-challenge-container {
  margin-top: 10%;
  width: 100%;
  height: 40%;
  padding-top: 15%;
}

.accept-challenge-container .loader {
  margin-top: 10%;
}

.challenge-button {
  width: 65%;
  height: 6.5rem;
  line-height: 6.5rem;
  margin: 5% auto;
  border-radius: 5px;
  border: 2px solid black;
}

.challenge-button.accept {
  background-color: green;
}

.challenge-button.reject {
  background-color: #858585;
}

.challenge-accepted-text {
  font-size: 26pt;
}

.challenge-accepted-text > b {
  color: green;
}

.challenge-acceptance-result {
  margin-top: 10%;
  font-size: 16pt;

}