<template name="home">
  <div class="home-container">
    <div class="menu-container">
      <div class="row"> 
        <div class="menu-item">
          Pokedex
        </div>
      </div>
      <div class="row"> 
        <div class="menu-item">
          Bag 
        </div>
      </div>
      <div class="row">
        <div class="menu-item">
          Ken 
        </div>
      </div>
      <div class="row">
        <div class="menu-item">
          Option 
        </div>
      </div>
      <div class="row">
        <div class="menu-item">
          Quit 
        </div>
      </div>
    </div>
  </div>
</template>
