<template name="challenge">
  <div class="challenge-container">

    <div class="challenge-lcd-screen">
      <div class="challenge-header">
        <div class="challenge-alert">Alert!</div>
        <div class="challenge-alert-subtext">Challenge Available</div>
      </div>
      <div class="challenge-body">
        <div class="challenger-name"> {{challengerName}} </div>
        <div class="challenger-flavor-text">wants to battle.</div>
      </div>
    </div>

    
    <div class="accept-challenge-container">
      {{#unless hasAccepted}}
        <div class="challenge-button accept">
          Accept
        </div>
        <div class="challenge-button reject">
          Reject
        </div>
      {{else}}
        <div class="challenge-accepted-text">
          You've <b>ACCEPTED</b>
        </div>
        <div class="challenge-waiting-text">
          Waiting for other player to accept...
        </div>
        <img class="loader" src="/images/ajax-loader.gif">
        <div class="challenge-acceptance-result">
          {{acceptanceResult}}
        </div>
      {{/unless}}
    </div>
  </div>
</template>
